<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ bus.name }}
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true">
        </i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
     <li>Company Name :{{ bus.name }}----Head Office: {{ bus.head_office }}---Staff :{{ bus.staff_count }}</li>
    </div>
  </div>
  <footer class="card-footer">
    <a href="/update/{{ bus.id }}" class="card-footer-item button is-info">Edit</a>
    <a href="/delete/{{ bus.id }}" class="card-footer-item button is-danger">Delete</a>
  </footer>
</div>